/**
 * @name Gradient($Start, $End)
 * @description Add a gradient to element
 *
 * @variable $Start - A hex color at the top of the gradient
 * @variable $End - A hex color at the bottom of the gradient
 *
 */

@mixin gradient($start, $end){

}

/* A non dss comment */

/*
 @name Button
 @description Style for a button
 this is a multiline description
 @section Forms.Buttons

 @state :disabled - Dims the button when disabled.
 @state .primary - Indicates button is the primary action.
 @state .smaller - A smaller button

 @markup
   <button>markup</button>
*/

button {
  max-width: 150px;

  .full-width {
    width:100%;
  }
}



