//
// @name Text Input
// @description Style for a input with type text
// @section Forms.Inputs
//
// @state :disabled - Dims the button when disabled.
// @state .primary - Indicates button is the primary action.
// @state .smaller - A smaller button
//
// @markup
//   <button>markup<button>
//

input[type="text"] {
  max-width: 150px;

  .full-width {
    width:100%;
  }
}

// This
// is
// not
// a
// dss
// comment

.non-documented-class {

}

//
// @name Submit Input
// @description Style for an input with type button
// @section Forms.Inputs
//
// @state :disabled - Dims the button when disabled.
// @state .primary - Indicates button is the primary action.
// @state .smaller - A smaller button
// @state .even-smaller - even smaller button
//
// @markup
//   <button>markup<button>
//

input[type="submit"] {
  max-width: 150px;

  .full-width {
    width:100%;
  }
}

